body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width image{
    width: 80%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange ,tomato);
    color: rgb(240, 246, 247);
    font-weight: 800;
    padding: 20px 50px;
    border-radius: 50px;
}

.about-us{
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
}

















